kbd {
  color: #e2e4e8;
  border-bottom: 2px solid #4a4f53;
  background-color: #27272a;
  border-radius: 4px;
  padding: 2px 4px;
  white-space: nowrap;
  font-family: "JetBrains Mono";
  margin: 2px;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(215, 244, 239);
}
