.container {
  display: flex;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow:
    0px 0.6px 1.1px rgba(0, 0, 0, 0.04),
    0px 1.6px 3px rgba(0, 0, 0, 0.026),
    0px 3.9px 7.2px rgba(0, 0, 0, 0.02),
    0px 13px 24px rgba(0, 0, 0, 0.014);
  background-color: #3c3c3e;

  pointer-events: auto;
  cursor: default;

  .body {
    display: grid;
    padding: 8px 0;

    .title {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.4;
    }

    .content {
      color: rgba(255, 255, 255, 0.87);
      font-size: 14px;
      font-weight: 400;
      margin-top: 1px;
    }
  }

  .icon {
    padding: 11px 8px 12px 12px;
    display: grid;
  }

  &:not(:has(.title)) {
    .icon {
      padding-top: 12px;
    }
  }

  button.dismiss {
    width: 24px;
    height: 24px;
    margin: 8px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    fill: #ffffff57;
    transition: fill 0.1s ease;

    &:hover {
      fill: #f0f0f0;
    }
  }
}

.container.error {
  background-color: #450a0a;

  border: 1px solid #991b1b;

  .icon,
  .title {
    color: #fca5a5;
  }
}

.container.info {
  background-color: #082f49; /*950*/

  border: 1px solid #075985; /*800*/

  .icon,
  .title {
    color: #7dd3fc; /*300*/
  }
}

.container.warning {
  background-color: #422006; /*950*/

  border: 1px solid #854d0e; /*800*/

  .icon,
  .title {
    color: #fcd34d; /*300*/
  }
}

.container.success {
  background-color: #052e16; /*950*/

  border: 1px solid #166534; /*800*/

  .icon,
  .title {
    color: #86efac; /*300*/
  }
}
